:root {
	--bottom: #e4e4e4;
	--shadow: rgba(0, 0, 0, 0.2);
	--back: #ffffff;
	--back-dim: rgba(0, 0, 0, 0.04);
	--fore: #000000;
	--dark: #808080;
	--theme: #b53b3a;
	--nav-dim: rgba(0, 0, 0, 0.1);
}

html {
	background-color: var(--bottom);
	padding: 0;
	color: var(--fore);
	overflow-x: hidden;
}

body {
	max-width: 64em;
	margin: auto;
	font-family: sans-serif;
	background-color: var(--back);
	box-shadow: 0 0 5px 5px var(--shadow);
	text-align: justify;
}

img {
	max-width: 100%;
}

svg {
	fill: var(--theme);
	stroke: var(--theme);
	stroke-width: 0.6px;
}

#top {
	border-top: 3px solid var(--theme);
}

#top .skip {
	position: fixed;
	top: -100%;
}

#top a, #header a {
	text-decoration: none;
}

#banner {
	text-align: center;
	user-select: none;
	line-height: 0;
	cursor: default;
	font-size: 2rem;
	padding: 1rem 0;
}

#banner svg {
	vertical-align: middle;
}

#banner small {
	font-size: .9rem;
	color: var(--dark);
}

#nav {
	text-align: center;
	background-color: var(--theme);
	padding-left: 0;
	height: 2.25rem;
	text-indent: 4rem;
	overflow-y: hidden;
}

#nav li {
	display: inline-block;
	text-indent: 0;
}

#nav li a {
	font-weight: bold;
	display: inline-block;
    line-height: 2rem;
    padding: 0 .6rem;
    margin-top: .125rem;
	color: var(--back);
}

#nav li a:hover, #nav li .dim {
	background-color: var(--nav-dim);
}

#nav > li > a:hover {
	text-decoration: none;
}

#nav:target {
	height: auto;
}
#nav > li:nth-child(1) {
	float: right;
	float: inline-end;
	padding: 0 1em;
	background-color: var(--nav-dim);
}
#nav a[href="#nav"]::after { content: '≫'; }
#nav a[href="#content"]::after { content: '⨉'; }
#nav:target a[href="#nav"] { display: none; }
#nav:not(:target) a[href="#content"] { display: none; }

.join-us {
	text-align: center;
}
.back-to-top {
	height: 0;
	overflow: visible;
	text-align: end;
}
.back-to-top a {
	display: inline-block;
	width: 2em;
	height: 2em;
	padding: 4pt;
	padding-bottom: 0;
	border: var(--theme) 1pt solid;
	border-radius: 4pt;
	color: var(--theme);
	background-color: var(--back);
	text-align: center;
	transform: translateY(-1.8em);
	margin: 0 2em;
}

#content {
    max-width: 45rem;
    margin: 4rem auto;
	padding: 0 1rem;
}

#content.frontpage {
    max-width: unset;
    margin: unset;
	padding: unset;
}

section {
	display: flex;
	flex-wrap: wrap-reverse;
	padding: 3rem 8rem;
}
section:nth-of-type(2n) {
	flex-direction: row-reverse;
	background-color: var(--back-dim);
	text-align: end;
}

section > div {
	flex-grow: 1;
	width: 20em;
}
section > svg {
	width: 8rem;
	padding: 0 2rem;
	margin: auto;
}

footer {
	font-size: .9rem;
	padding: 1rem;
	background-color: var(--theme);
	color: var(--bottom);
	text-align: center;
}

footer a {
	color: var(--back);
}

footer p {
	margin: 0;
}

a {
	color: var(--theme);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	background: var(--theme);
	color: var(--back);
	border-radius: .5rem;
	border-width: 0;
	padding: .5rem;
	border-color: var(--theme);
	cursor: pointer;
	font: inherit;
}

table {
	width: 100%;
	text-align: left;
	border-spacing: 0;
	border-collapse: collapse;
}

table th, table td {
	padding: 6px 13px;
	border: 1px solid var(--fore);
}


@media (max-width: 768px) {
	section {
		padding: 3rem 2rem;
	}
	section > div {
		text-align: center;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bottom: #101010;
		--shadow: rgba(0, 0, 0, 0.2);
		--back: #181818;
		--back-dim: rgba(255, 255, 255, 0.04);
		--fore: #bbbbbb;
		--dark: #a0a0a0;
		--theme: #b53b3a;
		--nav-dim: rgba(0, 0, 0, 0.1);
	}
}
